/* Estilo para que el cuerpo ocupe toda la altura disponible en la ventana del navegador */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Establece la altura mínima del cuerpo como el 100% de la altura de la ventana */
}

/* Cambiar el color para los enlaces con el atributo "href"*/
a [href="https://www.google.com"] {
  color: rgb(5, 199, 238);
}

[href="https://www.youtube.com/"] {
  color: rgb(255, 0, 0);
}

[href="https://www.instagram.com/"] {
  color: rgb(238, 168, 5);
}

/* Cambiar el fondo de color para los elementos input de tipo "submit" */
input[type="submit"] {
  background-color: rgb(0, 12, 240);
  color: white;
}

/* Cambiar el estilo para los elementos con el atributo "importante" */
[importante="true"] {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Los símbolos como: ~, ^, $, y * se utilizan en los selectores de atributo de CSS para realizar selecciones más específicas basadas en los valores de los atributos*/

/* Cuando contiene una palabra especifica separada por espacios*/
[class~="date"]{
  background-color: aqua;
}

/* Cuando termina con una cadena especifica*/
img[src$=".webp"] {
  border: 2px solid rgb(246, 255, 0);
  width: 200px;
}

/* Cuando contiene unna palabra especifica sin necesidad de estar separada*/
[class*="da"]{
  background-color: rgb(0, 0, 0);
  color: white;
}

/* Cuando comienza con una cadena especifica*/
a[href^="https"] {
  background-color: rgb(174, 244, 201);
}

/* Estilo para el pie de página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-top: auto;
}



/*ajustes adicionales
/* Resaltar el enlace con fondo de color y texto en negrita */
.highlight {
  background-color: #ff0000; /* Color de fondo */
  font-weight: bold; /* Texto en negrita */
}