@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url(https://i.blogs.es/d5130c/wallpaper-2.png/1366_2000.webp);
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background-color: rgba(64, 64, 64, 0.6); /* Fondo semitransparente */
	border-radius: 8px; /* Bordes redondeados */
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000; /* Asegura que el menú esté sobre otros contenidos */
}

nav {
	max-width: 900px;
	margin: auto;
}

.menu-horizontal {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
}

.menu-horizontal > li > a {
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.menu-horizontal > li:hover {
	background-color: rgba(255, 0, 0, 0.6); /* Rojo semitransparente */
}

.menu-vertical, .menu-sub-vertical {
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para los submenús */
	border-radius: 5px;
}

.menu-horizontal li:hover > .menu-vertical,
.menu-vertical li:hover > .menu-sub-vertical {
	display: block;
}

.menu-vertical li:hover, .menu-sub-vertical li:hover {
	background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro al pasar el ratón */
}

.menu-vertical li a, .menu-sub-vertical li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.menu-vertical li {
	position: relative; /* Necesario para posicionar el submenú relativo al elemento padre */
}

.menu-sub-vertical {
	left: 200px; /* Desplaza el submenú a la derecha del padre */
	top: 0;
}

main {
	max-width: 1000px;
	margin: auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
	border-radius: 8px;
	flex: 1;
	margin-top: 80px; /* Espacio suficiente para el menú fijo */
    margin-bottom: 8px;
}

footer {
	background-color: rgba(64, 64, 64, 0.6);
	color: white;
	text-align: center;
	padding: 10px 0;
	margin-top: auto; /* Mantiene el pie de página en la parte inferior */
	border-radius: 8px;
}

.imagen1 {
    width: 250px;
	display: block;      /* Hace que la imagen sea un elemento de bloque */
	margin-left: auto;   /* Agrega margen automático a la izquierda */
	margin-right: auto;  /* Agrega margen automático a la derecha */
	max-width: 100%;     /* Asegura que la imagen no se salga del contenedor */
	height: auto;        /* Mantiene la proporción de la imagen */
    margin-top: 20px;
    border-radius: 500px;
    border: 5px solid black;

}

